body {
    text-align: right;
}

button {
    display: inline-block;
    padding: 1em;
    margin: 1em;
}

input, select {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 90%;
}

.result {
    text-align: center;
    border: double;
}

.result:before {
    content: 'Result: ';
}

@media (min-width: 40em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}

@media (max-width: 40em) {
    .legend { display: none; }
}
